@{
    ViewData["Title"] = "Home Page";
}


<div class="sticky-lg-top col p-lg-3 pt-lg-1 p-1" style="margin-top: -250px; width: 40px; height: 100%;">
    <a href="https://github.com/Nathan-Carpenter-Git" target="_blank" style="width: 40px; height: 40px"> 
        <img src="/shared/icons/icon_github.png" class="row m-4" style="height: 100%; width: 40px;"/>
    </a>

    <a href="https://dusty-studios.itch.io" target="_blank" style="width: 40px"> 
        <img src="/shared/icons/icon_itchio.png" class="row m-4" style="height: 100%; width: 40px;"/>
    </a>

    <a href="https://www.linkedin.com/in/nathan-b-carpenter/" target="_blank" style="width: 40px"> 
        <img src="/shared/icons/icon_linkedin.png" class="row m-4" style="height: 100%; width: 40px;"/>
    </a>
</div>

<div class="col py-0">
    <div class="bg-secondary row p-5 divider">
        <p class="display-1 font-monospace text-center text-light">Welcome to my portfolio</p>
    </div>
    <!--About Me-->
    <div class="bg-primary row py-5 divider justify-content-center font-monospace text-dark">
        <p class="display-4 pt-2 text-center">About Me</p>
        <div class="row">
            <img src="/shared/NathanFrame.jpg" class="hide-image p-5 col-1" style="height: 600px; width: 450px;"/>
            <div class="col-lg description flex-column d-flex justify-content-evenly px-5">
                    <p>I am committed to honing my skills through continuous exploration of cutting-edge technologies staying on top of industry trends, and actively participating in collaborative projects that challenge and expand my abilities. I have a deep passion for full stack development with experience in both front-end and back-end applications.</p>

                    <p>I also have experience in game development and it has equipped me with a deep understanding of game mechanics, 3D modeling, and gameplay design. I am well-versed in popular game engines like Unity and Unreal, leveraging their capabilities to bring my ideas to life.</p>

                    <p>Beyond technical expertise, I value teamwork and effective communication. I have actively sought opportunities to collaborate with diverse teams, recognizing the synergy that arises from combining unique perspectives and skill sets. As I embark on this dynamic career path, I am excited to contribute my passion, skills, and dedication to creating exceptional digital experiences that resonate with users worldwide.</p>

                    <p class="fw-bold">For specifics on my experience and skills, check out my resume below!</p>
            </div>
        </div>
    </div>

    <!--Certificates-->
    <div class="bg-secondary row py-5 divider justify-content-center font-monospace text-light">
        <p class="display-4 pt-2 text-center">Certificates</p>
        <div class="d-flex flex-wrap certificates text-center description">
            <div class="flex-column mx-3">
                <p>C# Certificate</p>
                <img src="/shared/FoundationalMicrosoftCertificate.jpg" class="row" style="height: 300px; width: 100%;" />
            </div>
            <div class="flex-column mx-3">
                <p>IT Certificate</p>
                <img src="/shared/JCCITCertificate.png" class="row" style="height: 300px; width: 100%;"/>
            </div>
            <div class="flex-column mx-3">
                <p>Network Certificate</p>
                <img src="/shared/TestOutNetworkPro.png" class="row" style="height: 300px; width: 100%;"/>
            </div>
            <div class="flex-column mx-3">
                <p>PC Certificate</p>
                <img src="/shared/TestOutPCPro.png" class="row" style="height: 300px; width: 100%;"/>
            </div>
        </div>
    </div>

    <!--Resume-->
    <div class="bg-primary row py-5 divider justify-content-center font-monospace text-dark">
        <p class="display-4 pt-2 text-center">Resume</p>
        <embed class="pdf" src="/shared/docs/NathanCarpenterResume.pdf" style="width: 1900px; height: 1200px; padding-left: 10%; padding-right: 10%"/>
        <a class="text-center p-2 text-dark" href="/shared/docs/NathanCarpenterResume.pdf">Download PDF</a>
    </div>
</div>