@{
    ViewData["Title"] = "Home Page";
}


<div class="sticky-lg-top col p-lg-3 pt-lg-1 p-1" style="margin-top: -250px; width: 40px; height: 100%;">
    <a href="https://github.com/Nathan-Carpenter-Git" target="_blank" style="width: 40px; height: 40px"> 
        <img src="/shared/icons/icon_github.png" class="row m-4" style="height: 100%; width: 40px;"/>
    </a>

    <a href="https://dusty-studios.itch.io" target="_blank" style="width: 40px"> 
        <img src="/shared/icons/icon_itchio.png" class="row m-4" style="height: 100%; width: 40px;"/>
    </a>

    <a href="https://www.linkedin.com/in/nathan-b-carpenter/" target="_blank" style="width: 40px"> 
        <img src="/shared/icons/icon_linkedin.png" class="row m-4" style="height: 100%; width: 40px;"/>
    </a>
</div>

<div class="col py-0">

    <!--Title-->
    <div class="bg-secondary row p-5 divider">
        <p class="display-1 font-monospace text-center text-light">Hello! Welcome to my web page!</p>
    </div>

    <!--About Me-->
    <div class="bg-primary row py-5 divider justify-content-center font-monospace text-dark">
        <p class="display-4 pt-2 text-center">About Me</p>
        <div class="row">
            <img src="/shared/NathanFrame.jpg" class="hide-image px-lg-3 col-1 align-self-center" style="height: 600px; width: 500px;"/>
            <div class="col-lg description flex-column d-flex justify-content-evenly px-5">
                <p>I am committed to honing my skills through continuous exploration of modern cloud technologies, staying on top of Azure advancements, and actively participating in collaborative projects that challenge and expand my technical capabilities. I have a deep passion for cloud engineering with hands‑on experience designing, deploying, and managing scalable solutions across Microsoft Azure environments.</p>

                <p>I also have experience working with a wide range of Azure services, which has equipped me with a strong understanding of virtual networking, identity management, automation, and secure workload deployment. I am well‑versed in tools such as Azure Virtual Networks, Firewalls, Governance controls, Virtual Machines, and App Service, leveraging their capabilities to build reliable and secure cloud architectures.</p>

                <p>Beyond technical expertise, I value teamwork and effective communication. I have actively sought opportunities to collaborate with diverse teams, recognizing the synergy that arises from combining unique perspectives and specialized skill sets. As I continue along this dynamic cloud career path, I am excited to contribute my passion, skills, and dedication to delivering resilient, compliant, and high‑quality cloud solutions that support organizational goals.</p>

                <p>I possess extensive networking expertise, honed through both formal education and practical experience. My entrepreneurial spirit led me to become self‑employed, where I successfully designed and managed network and cloud environments for various clients. This role involved architecting tailored Azure and on‑premises solutions, configuring infrastructure components, and ensuring optimal performance and security. My hands‑on experience and ability to address diverse client needs have significantly enhanced my problem‑solving skills and deepened my understanding of cloud and networking principles.</p>
            </div>

            <p class="fw-bold row description p-3 justify-content-center">For specifics on my experience and skills, check out my resume below!</p>
        </div>
    </div>

    <!--Certificates-->
    <div class="bg-secondary row py-5 divider justify-content-center font-monospace text-light">
        <p class="display-4 pt-2 text-center">Certificates</p>
        <div class="d-flex flex-wrap certificates text-center description">
            <div class="flex-column mx-3">
                <p>AZ-900 Certificate</p>
                <img src="/shared/AZ-900Certificate.png" class="row" style="height: 300px; width: 100%;" />
            </div>
            <div class="flex-column mx-3">
                <p>AIT Certificate</p>
                <img src="/shared/JCCITCertificate.png" class="row" style="height: 300px; width: 100%;"/>
            </div>
            <div class="flex-column mx-3">
                <p>Network Pro Certificate</p>
                <img src="/shared/TestOutNetworkPro.png" class="row" style="height: 300px; width: 100%;"/>
            </div>
            <div class="flex-column mx-3">
                <p>PC Pro Certificate</p>
                <img src="/shared/TestOutPCPro.png" class="row" style="height: 300px; width: 100%;"/>
            </div>
        </div>
    </div>

    <!--Resume-->
    <div class="bg-primary row py-5 divider justify-content-center font-monospace text-dark">
        <p class="display-4 pt-2 text-center">Resume</p>
        <embed class="pdf" src="/shared/docs/resume.pdf" style="width: 1900px; height: 1200px; padding-left: 10%; padding-right: 10%"/>
        <a class="text-center p-2 text-dark" href="/shared/docs/resume(2).pdf">Download PDF</a>
    </div>
</div>