@{
    ViewData["Title"] = "Home Page";
}


<div class="sticky-lg-top col p-lg-3 pt-lg-1 p-1" style="margin-top: -250px; width: 40px; height: 100%;">
    <a href="https://github.com/Nathan-Carpenter-Git" target="_blank" style="width: 40px; height: 40px"> 
        <img src="/shared/icons/icon_github.png" class="row m-4" style="height: 100%; width: 40px;"/>
    </a>

    <a href="https://dusty-studios.itch.io" target="_blank" style="width: 40px"> 
        <img src="/shared/icons/icon_itchio.png" class="row m-4" style="height: 100%; width: 40px;"/>
    </a>

    <a href="https://www.linkedin.com/in/nathan-b-carpenter/" target="_blank" style="width: 40px"> 
        <img src="/shared/icons/icon_linkedin.png" class="row m-4" style="height: 100%; width: 40px;"/>
    </a>
</div>

<div class="col py-0">

    <!--Title-->
    <div class="bg-secondary row p-5 divider">
        <p class="display-1 font-monospace text-center text-light">Hello! Welcome to my web page!</p>
    </div>

    <!--About Me-->
    <div class="bg-primary row py-5 divider justify-content-center font-monospace text-dark">
        <p class="display-4 pt-2 text-center">About Me</p>
        <div class="row">
            <img src="/shared/NathanFrame.jpg" class="hide-image px-lg-3 col-1 align-self-center" style="height: 600px; width: 500px;"/>
            <div class="col-lg description mobile-text-smaller">
                <p>My experience spans a wide range of technologies, providing me with a solid foundation in network architecture, system administration, identity and access management, automation, and secure infrastructure deployment. I am well-versed in tools and concepts such as virtual networking, firewalls, routing and switching, virtualization, and cloud services including Azure Virtual Networks, Virtual Machines, and App Services. I leverage these technologies to build reliable, efficient, and secure solutions tailored to organizational needs.</p>

                <p>In addition to my technical background, I bring valuable experience managing banking infrastructure within a New York-based institution operating across seven branches. In this role, I was responsible for maintaining and optimizing a multi-site network environment, supporting secure inter-branch connectivity, managing centralized systems, and ensuring high availability and compliance within a regulated financial setting. This experience strengthened my ability to work in high-stakes environments where reliability, security, and attention to detail are critical.</p>

                <p>Beyond technical expertise, I place a strong emphasis on teamwork, communication, and adaptability. I have consistently sought opportunities to collaborate with cross-functional teams, recognizing the value of diverse perspectives in solving complex problems. As I continue to grow in the IT and networking field, I am driven to contribute dependable, secure, and high-quality solutions that align with organizational goals and evolving technology demands.</p>
            </div>

            <p class="fw-bold row description p-3 justify-content-center">For specifics on my experience and skills, check out my resume below!</p>
        </div>
    </div>

    <!--Certificates-->
    <div class="bg-secondary row py-5 divider justify-content-center font-monospace text-light">
        <p class="display-4 pt-2 text-center">Certificates</p>
        <div class="d-flex flex-wrap certificates text-center description">
            <div class="flex-column mx-3">
                <p>Network+ Certificate</p>
                <img src="/shared/ComptiaNetwork.png" class="row" style="height: 300px; width: 100%;" />
            </div>
            <div class="flex-column mx-3">
                <p>AZ-900 Certificate</p>
                <img src="/shared/AZ-900.png" class="row" style="height: 300px; width: 100%;" />
            </div>
            <div class="flex-column mx-3">
                <p>AIT Certificate</p>
                <img src="/shared/JCCITCertificate.png" class="row" style="height: 300px; width: 100%;"/>
            </div>
            <div class="flex-column mx-3">
                <p>Network Pro Certificate</p>
                <img src="/shared/TestOutNetworkPro.png" class="row" style="height: 300px; width: 100%;"/>
            </div>
            <div class="flex-column mx-3">
                <p>PC Pro Certificate</p>
                <img src="/shared/TestOutPCPro.png" class="row" style="height: 300px; width: 100%;"/>
            </div>
        </div>
    </div>

    <!--Resume-->
    <div class="bg-primary row py-5 divider justify-content-center font-monospace text-dark">
        <p class="display-4 pt-2 text-center">Resume</p>
        <embed class="pdf" src="/shared/docs/resume(3).pdf" style="width: 1900px; height: 1200px; padding-left: 10%; padding-right: 10%"/>
        <a class="text-center p-2 text-dark" href="/shared/docs/resume(3).pdf">Download PDF</a>
    </div>
</div>